.header_div {
    display: flex;
    gap: 5px;
    background-color: #82393E;
    padding: 20px;
    width: 100%;
}

.logo {
    height: 5rem;
    width: 5rem;
    padding-left: 10rem;
}

.title {
    font-size: 1.9rem;
    color: white;
    padding-left: 0rem;
}