@import "./styles/uikit.css";

:root {
  font-family: var(--font-family-primary);
  font-size: var(--root-font-size);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);

  color: var(--color-text-primary);
  background-color: var(--color-surface-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: var(--page-min-width);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:focus,
a:focus-visible,
input:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
